<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/common}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<title>勤怠編集 </title>
</head>
<body>
<div layout:fragment="contents">

<div class="container text-center w-80" style="margin-top:80px">
	<div class="container mt-3">
		<div class="border rounded" style="padding:50px;">
			<h3 style="padding:40px">勤怠編集</h3>
				<form th:action="@{''}" th:object="${attendance}" method="post">
					<div class="form-group row">
						<label for="mm" class="col-2 col-form-label">月</label>
						<div class="col-5">
							<input type="text" th:field="*{mm}" class="form-control">
						</div>
						<div class="col-5">
							<span th:if="${#fields.hasErrors('mm')}" th:errors="*{mm}" class="form-text text-muted"></span>
						</div>
					</div>
					<div class="form-group row">
						<label for="dd" class="col-2 col-form-label">日</label>
						<div class="col-5">
							<input type="text" th:field="*{dd}" class="form-control">
						</div>
						<div class="col-5">
							<span th:if="${#fields.hasErrors('dd')}" th:errors="*{dd}" class="form-text text-muted"></span>
						</div>
					</div>
					<div class="form-group row">
						<label for="workStartTime" class="col-2 col-form-label">出勤時間</label>
						<div class="col-5">
							<input type="text" th:field="*{workStartTime}" class="form-control">
						</div>
						<div class="col-5">
							<span th:if="${#fields.hasErrors('workStartTime')}" th:errors="*{workStartTime}" class="form-text text-muted"></span>
						</div>
					</div>
					<div class="form-group row">
						<label for="workEndTime" class="col-2 col-form-label">退勤時間</label>
						<div class="col-5">
							<input type="text" th:field="*{workEndTime}" class="form-control">
						</div>
						<div class="col-5">
							<span th:if="${#fields.hasErrors('workEndTime')}" th:errors="*{workEndTime}" class="form-text text-muted"></span>
						</div>
					</div>
					<div class="form-group row">
						<label for="breakStartTime" class="col-2 col-form-label">休憩開始時間</label>
						<div class="col-5">
							<input type="text" th:field="*{breakStartTime}" class="form-control">
						</div>
						<div class="col-5">
							<span th:if="${#fields.hasErrors('breakStartTime')}" th:errors="*{breakStartTime}" class="form-text text-muted"></span>
						</div>
					</div>
					<div class="form-group row">
						<label for="breakEndTime" class="col-2 col-form-label">休憩終了時間</label>
						<div class="col-2">
							<input type="text" th:field="*{breakStartTime}" class="form-control">
						</div>
						<div class="col-5">
							<span th:if="${#fields.hasErrors('breakEndTime')}" th:errors="*{breakEndTime}" class="form-text text-muted"></span>
						</div>
					</div>
					<div class="form-group row">
						<div class="offset-2 col-2">
							<input type="submit" class="btn btn-success" value="保存" style="margin:30px">
						</div>
					</div>
				</form>	
			</div>
		</div>
	</div>

</div>
</body>
</html>