<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/common}">
<head>
<meta charset="UTF-8">
<title>保存一覧</title>
</head>
<body>
<div layout:fragment="contents">
<div class="container" style="text-align:center">
<h3 style="padding:40px">勤怠保存一覧</h3>

<div class="row mb-3">
	<div class="col">
		<h2 th:text="${mm}"></h2>
		<form th:action="@{/save}" class="form-inline" method="post"> 
			<label class="mr-3"> 月を選択してください
				<select name="mm"class="form-control" id="month">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
				</select>
			</label><input type="submit" value="変更" class="btn btn-secondary mr-1" id="checkSubmit">
		</form>
	</div>
</div>

<script><!--フラッシュメッセージもどき  -->
function submitClick(){
	alert('選択した月は ' + monthSelect.value + ' 月です。 ' + monthSelect.value + ' 月分の勤怠保存情報を一覧表示します。');
}

let monthSelect = document.getElementById('month');
monthSelect.options[2].selected = true;

let checkSubmit = document.getElementById('checkSubmit');
checkSubmit.addEventListener('click', submitClick);
</script>

</div>
<div class="row">
	<div class="col">
		<table class="table">
			<thead>
				<tr>
					<th>月</th>
					<th>日</th>
					<th>出勤時間</th>
					<th>退勤時間</th>
					<th>休憩開始時間</th>
					<th>休憩終了時間</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="attendance : ${tableAttendance}" th:object="${attendance}" >
					<td th:text="*{mm}"></td>
					<td th:text="*{dd}"></td>
					<td th:text="*{workStartTime}"></td>
					<td th:text="*{workEndTime}"></td>
					<td th:text="*{breakStartTime}"></td>
					<td th:text="*{breakEndTime}"></td>
					<td><a th:href="@{|/edit/*{id}|}">変更</a></td>
				</tr>
			</tbody>
		</table>
	</div>		
</div>

</div>
</body>
</html>